:root {
  /* --black: #1a1a1a; */
  --black: #000000;
  --beige: #f5e6d3;
  --accent: #ff6b6b;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--black);
  color: var(--beige);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header, footer {
  background-color: var(--beige);
  color: var(--black);
  text-align: center;
  padding: 2rem 0;
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
}


.three-container {
  display: flex;
  justify-content: center; /* Horizontally centers the canvas */
  align-items: center; /* Vertically centers the canvas */
  height: 75vh;
  position: relative;
}

canvas {
  max-width: 100%;
  position: relative;
}

.content {
  background-color: rgba(26, 26, 26, 0.8);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
  border: 2px solid var(--beige);
}

.highlight {
  color: var(--accent);
  font-weight: bold;
}

button {
  background-color: var(--beige);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent);
  color: var(--beige);
}